<section id="movies-screen"
[ngStyle]="localLayoutSize === 'XSmall' || localLayoutSize === 'Small' ? {'font-size': '8px'}
:
(localLayoutSize === 'Medium' ? {'font-size': '12px'}
:
{'font-size': '16px'})">
  <article
    class="featured-movie"
    [ngStyle]="localLayoutSize !== 'XSmall' ? {
      'background-image': 'url(' + background + ')'
    } : {} "
    >
    <div class="container" #algo>
      <nav>
        <app-logo  [logoInitWidth]='logoInitWidth'></app-logo>

          <button *ngIf="localLayoutSize === 'XSmall'" #HamburguerMenu (click)="showMenuDropdown()" (blur)="closeMenuDropdown()" id="hamburguer-menu" mat-button>
            <mat-icon>menu</mat-icon>
          </button>

          <ul [ngClass]="localLayoutSize === 'XSmall' ?'navbar-in-dropdown' : 'navbar-out-dropdown'"  #dropdownMenu
          *ngIf="localLayoutSize !== 'XSmall' || dropdownActive"
          >
            <li><a class="active" href="#">Início</a></li>
            <li (click)="teste()"><a href="#">Séries</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Bombando</a></li>
            <li><a href="#">Minha lista</a></li>
          </ul>
        </nav>

    <div *ngIf="localLayoutSize !== 'XSmall'">
      <div class="featured-movie-title">
        <img
          src="assets/img/titulo-banner1.png"
          alt="Filme em destaque: Alerta Vermelho"
        />
      </div>
      <div class="rank">
        <div class="top10">
          <span>TOP</span>
          <span>10</span>
        </div>
        <h1>Brasil: top 2 de hoje</h1>
      </div>
      <div class="featured-movie-description">
        <p>
          Um agente do FBI persegue o ladrão de arte mais procurado do mundo.
          Ele só não esperava ter seu alvo como parceiro para prender uma
          bandida muito esperta.{{localLayoutSize}}
        </p>
      </div>
      <div class="button-wrapper">
        <button>
          <mat-icon>play_arrow</mat-icon>
          <span>Assistir</span>
        </button>
        <button>
          <mat-icon>info_outline</mat-icon>
          <span>Mais unformações</span>
        </button>
      </div>
    </div>
      <app-card-list
      class="cardlist"  *ngIf="isloadedPopular else spinner"
      [title]='"Populares na Netflix"'
      [data]='dataPopular'
      (modalData)='getModalData($event)'
      (modal)='getmodal($event)'
      ></app-card-list>
      <app-card-list
      class="cardlist"  *ngIf="isloadedKeep else spinner"
      [title]="'Continue assitindo como ' + user.name"
      [data]='dataKeepWatching'
      (modalData)='getModalData($event)'
      (modal)='getmodal($event)'
      ></app-card-list>
      <ng-template #spinner> <app-loading></app-loading></ng-template>

    </div>
  </article>
    <app-card-modal (keepModalOpen)="keepModalOpen($event)" *ngIf="modal" [modalData]="modalData"></app-card-modal>

</section>
