<section id="movies-screen"
[ngStyle]="layoutSize === 'XSmall' || layoutSize === 'Small' ? {'font-size': '8px'}
:
(layoutSize === 'Medium' ? {'font-size': '12px'}
:
{'font-size': '16px'})">
  <article
    class="featured-movie"
    [ngStyle]="layoutSize !== 'XSmall' ? {
      'background-image': 'url(' + background + ')'
    } : {} "
    >
    <div class="container" #algo>
      <nav>

        <div id="logo">
          <a href=""><img src="assets/img/logo.png" alt="Logo" /></a>
        </div>

          <button *ngIf="layoutSize === 'XSmall'" #HamburguerMenu (click)="showMenuDropdown()" (blur)="closeMenuDropdown()" id="hamburguer-menu" mat-button>
            <mat-icon>menu</mat-icon>
          </button>

          <ul [ngClass]="layoutSize === 'XSmall' ?'navbar-in-dropdown' : 'navbar-out-dropdown'"  #dropdownMenu
          *ngIf="layoutSize !== 'XSmall' || dropdownActive"
          >
            <li><a class="active" href="#">Início</a></li>
            <li (click)="teste()"><a href="#">Séries</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Bombando</a></li>
            <li><a href="#">Minha lista</a></li>
          </ul>
        </nav>

    <div *ngIf="layoutSize !== 'XSmall'">
      <div class="featured-movie-title">
        <img
          src="assets/img/titulo-banner1.png"
          alt="Filme em destaque: Alerta Vermelho"
        />
      </div>
      <div class="rank">
        <div class="top10">
          <span>TOP</span>
          <span>10</span>
        </div>
        <h1>Brasil: top 2 de hoje</h1>
      </div>
      <div class="featured-movie-description">
        <p>
          Um agente do FBI persegue o ladrão de arte mais procurado do mundo.
          Ele só não esperava ter seu alvo como parceiro para prender uma
          bandida muito esperta.{{layoutSize}}
        </p>
      </div>
      <div class="button-wrapper">
        <button>
          <mat-icon>play_arrow</mat-icon>
          <span>Assistir</span>
        </button>
        <button>
          <mat-icon>info_outline</mat-icon>
          <span>Mais unformações</span>
        </button>
      </div>
    </div>
      <!-- <div class="cardlist"  *ngIf="isloadedPopular else spinner">
        <h2>Populares na Netflix</h2>
        <div class="card-box">
          <button (click)="slideCard2(cardsPopular, -1)"  mat-button>
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <ul class="card-wrapper" #cardsPopular>
            <li class="card-item" (click)="showModal(serie)" *ngFor="let serie of dataPopular" >
                <img  src="{{serie.cardImage}}">
            </li>
          </ul>
          <button mat-button (click)="slideCard2(cardsPopular, 1)">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div> -->
      <app-card-list
      class="cardlist"  *ngIf="isloadedPopular else spinner"
      [title]='"Populares na Netflix"'
      [data]='dataPopular'
      (modalData)='getModalData($event)'
      (modal)='getmodal($event)'
      ></app-card-list>
      <app-card-list
      class="cardlist"  *ngIf="isloadedKeep else spinner"
      [title]="'Continue assitindo como ' + user.name"
      [data]='dataKeepWatching'
      (modalData)='getModalData($event)'
      (modal)='getmodal($event)'
      ></app-card-list>
      <!-- <div class="cardlist"  *ngIf="isloadedKeep else spinner">
        <h2>Continue assitindo como {{user.name}}</h2>
        <div class="card-box">
          <button *ngIf="isOverflown(cardsKeepWatching)" (click)="slideCard2(cardsKeepWatching, -1)" mat-button>
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <ul class="card-wrapper" #cardsKeepWatching>
            <li class="card-item" *ngFor="let serie of dataKeepWatching; let i = index">
                <img  src="{{serie.cardImage}}">
            </li>
          </ul>
          <button *ngIf="isOverflown(cardsKeepWatching)" mat-button (click)="slideCard2(cardsKeepWatching, 1) ">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div> -->
      <ng-template #spinner> <app-loading></app-loading></ng-template>

    </div>
  </article>
    <app-card-modal (keepModalOpen)="keepModalOpen($event)" *ngIf="modal" [modalData]="modalData"></app-card-modal>

</section>
