.container{
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

}
section.modal{
  width: 60vw;
  height: 50vw;
  margin-top: 3vw;
}
.top-area{
  width: 100%;
  height: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
}
.top-area img{
  width: 50%;
  position: absolute;
  top: 27%;
  left: 10%;
}
.top-area button.close{
  background-color: #141414;
  position: absolute;
  right: 1vw;
  top: 1vw;
  border-radius: 50%;
  width: calc(1em + 2vw);
  height: calc(1em + 2vw);
  border: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($color: #fff, $alpha: 0.7);
  cursor: pointer;
}

.top-area button.assitir{
  display: flex;
  align-items: center;
  padding: 1vw 1.6vw 0.7vw 1.6vw;
  box-sizing: border-box;
  gap: 0.5vw;
  font-weight: 700;
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 1);
  border: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.top-area button.assitir:hover{
  background-color: rgba(255, 255, 255, 0.57);
  border: rgba(255, 255, 255, 0.57);
}
.top-area button.assitir span{
  font-size: calc(0.5em + 1.5vw);
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.5vw;
  padding-top: 0.3vw;
}
.top-area button.assitir mat-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5em + 2vw);
  height: auto;
  width: auto;
}
.bottom-area{
  background-color: #141414;
  width: 100%;
  min-height: 30%;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
}
.bottom-area .left-panel{
  width: 55%;
}
.bottom-area .left-panel>div{
  display: flex;
  font-size: 1.5em;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
.bottom-area .left-panel .relevance{
  color: #46D369;
}
.bottom-area .left-panel .min-age{
  width: 1.5em;
  height: 1.5em;
  background-color: #EBC500;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .bottom-area .right-panel{
  width: 27%;
}
.bottom-area .right-panel div{
  display: flex;
  gap: 0.5em;
}
.bottom-area .right-panel p span{
color: #555;
}
