<main>
    <a><img src="./assets/netflix-Logo.png" alt="Logo da Netflix"></a>
    <section>
        <h2>Entrar</h2>
        <form [formGroup]="dataForm" (ngSubmit)="performLogin()">
            <input formControlName="login" type="text" placeholder="Email ou número de telefone">
            <p>Informe um e-mail ou número de telefone válido.</p>
            <input formControlName="password" type="password" placeholder="Senha">
            <p>A senha deve ter entre 4 e 60 caracteres.</p>
            <button>Entrar</button>
        </form>
        <p>Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a [hidden]="!recaptchaHidden" (click)="showInfo()">Saiba mais</a></p>
        <p [hidden]="recaptchaHidden">As informações recolhidas pelo Google reCAPTCHA estão sujeitas à Política de Privacidade e Termos de Uso, e são usadas para oferecer, manter e melhorar o serviço reCAPTCHA e por questões de segurança (não são usadas para exibir anúncios personalizados pelo Google).</p>
    </section>
</main>
<footer>
    <h3>Dúvidas? Ligue 0800-761-4631</h3>
    <div>
        <div>
            <a>Perguntas frequentes</a>
            <a>Preferências de cookies</a>
        </div>
        <div>
            <a>Centro de ajuda</a>
            <a>Informações corporativas</a>
        </div>
        <div>
            <a>Termos de uso</a>
            <a>Privacidade</a>
        </div>
    </div>
    <p>Netflix Brasil</p>
</footer>