:root {
    font-family: 'Martel Sans', sans-serif;
    font-size: clamp(3.4px, 1vw, 10px);
    font-weight: 400;
}

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    min-width: 340px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

* {
    background-color: black;
}