.home-main-container {
  width: 100%;
  height: 746px;
  background-color: black;
  background-image: url("/assets/img/netflix_background 1.png");
  overflow: hidden;
  background-size: cover;
  border-bottom: 8px solid #333333;
}

.home-nav-container {
  width: 100%;
  height: 57px;
  margin: 0 58px;
}

.home-nav {
  width: 100%;
  height: 100%;
  display: flex;
}
.nav-logo {
  display: inline-block;
  margin-right: 78vw;
}

.home-content-container {
  height: 500px;
  padding: 75px 45px;
}

 .top-card-content {
   display: flex;
   flex-direction: column;
   padding: 75px 0;
   margin: 0 auto;
   width: 100%;
   max-width: 950px;
}

 .top-card-title {
  font-size: 64px;
  color: white;
  font-weight: 700;
  margin: 0;
  display: block;
  text-align: center;
  margin: 0 75px;
  line-height: 70.4px;
  max-width: 800px;
}

.top-card-subtitle {
  font-size: 26px;
  color: white;
  font-weight: 400;
  margin: 0;
  display: block;
  text-align: center;
  margin: 0 75px;
  max-width: 800px;
  margin-bottom: 16px;
}

.top-card-description {
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin: 0;
  display: block;
  text-align: center;
  margin: 0 75px;
  max-width: 800px;
}

.login-button {
  background-color: #E50914;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 45px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 800px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #FD000D;
}

.card-container {
  width: 100%;
  background-color: black;
  padding: 70px 0;
  border-bottom: 8px solid #333333;
}

.body-card-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.card-image {
  width: 48%;
}

.card-image img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.card-description {
  align-self: center;
  width: 52%;
  height: 100%;
}

.card-title {
  font-size: 50px;
  color: white;
  font-weight: 700;
  margin: 0;
  display: block;
  line-height: 55px;
  max-width: 800px;
  padding-bottom: 1vw;
}

.card-subtitle {
  font-size: 26px;
  color: white;
  font-weight: 400;
  margin: 0;
  display: block;
  text-align: center;
  max-width: 800px;
  margin-bottom: 16px;
  text-align: inherit;
}
